body {
    background: #111;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 30px;
}
button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: gold;
    color: black;
    margin-top: 20px;
}
